{% extends '_base.html' %}

{% block page_title %}لیست کتاب ها{% endblock %}

{% block content %}
{##tamrin (get_absolute_url)#}
    {% for book in books %}
        <a href="{{ book.get_absolute_url }}">{{ book.title | capfirst }}</a>
{#<p1>{{ book.description | truncatewords }}</p1> --> | truncatewords : n -> n = adad : n kalame aval ra namayesh midahad #}
{#<p1>{{ book.description | truncatewords }}</p1> --> | truncatechars : n -> n = adad : n harf aval ra namayesh midahad #}
        <p1>{{ book.description | truncatewords:10 }}</p1>
        <br>
    {% endfor %}

    <a href="{% url 'book_create' %}">اضافه کردن کتاب جدید</a>

{% endblock %}